/* Typography */
@font-face {
    font-family: 'ForumRegular';
    src: url('../fonts/ForumRegular.eot');
    src: url('../fonts/ForumRegular.eot') format('embedded-opentype'),
         url('../fonts/ForumRegular.woff2') format('woff2'),
         url('../fonts/ForumRegular.woff') format('woff'),
         url('../fonts/ForumRegular.ttf') format('truetype'),
         url('../fonts/ForumRegular.svg#ForumRegular') format('svg');
}

body{
    font-family: 'ForumRegular', serif;
}
h1, h4{
    margin-bottom: 0px;
}
.text-primary {
	color: #D1AC74 !important;
}
.text-black{
    color: black;
}
/* Overriding bootstrap class properties */
.bg-light{
    background-color: #E9E9E9 !important;
}

/* Header */
.navbar-light .navbar-nav .nav-link{
    color: #7e7e7e;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: #D1AC74;
}
.nav-link {
	display: block;
	padding: 0px 15px;
}
.navbar-expand-md .navbar-nav .nav-link{
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1.3;
    text-transform: uppercase;
}
.navbar-expand-md .navbar-nav .nav-item{
    border-right: 2px solid #A5A5A5;
}
.navbar-expand-md .navbar-nav .nav-item:last-child{
    border-right: 0px;
}

/* Home slider */
.home-slider .slider-bg{
    height: 550px;
    background: url('../images/nicescenebk.jpg') 0 0 / cover;

}
.home-slider .slider-bg .slider-text{
    height: 550px;
    padding-bottom: 20px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 40px;
	height: 40px;
}
.carousel-control-next, .carousel-control-prev{
    width: 10%;
}

/* Section Title */
.section-title{
    margin-top: 40px;
    margin-bottom: 25px;
}
.quote-left img, .quote-right img{
    vertical-align: top;
}

.section-icon{
    margin-top: -32px;
}

/* Benifits Page */
.commandments p{
    font-size: 18px;
}

/* Testimonial page  */
.star-rating i.fa{
    font-size: 22px;
}
.testimonial-user img{
    width: 80px;
    height: 80px;
    border: 6px solid #E9E9E9;
}

/* Contact page */
.contact-icon{
    width: 18px;
}
hr.bg-dark{
    background-color: #7E7E7E !important;
}
.barcode{
    width: 100px;
    height: 100px;
}
.luxoasis-form .form-control{
    border-radius: 0px;
    border: 2px solid black !important;
}
.luxoasis-form .form-control:placeholder{
    color: #7e7e7e;
}
.luxoasis-form textarea{
    height: 120px;
}
.btn-primary{
    background-color: #D1AC74;
    border-color: #D1AC74;
    border-radius: 0px;
}
.btn-primary:hover {
	color: #fff;
	background-color: rgb(250, 192, 106);
	border-color: rgb(250, 192, 106);
}
.btn-primary.focus, .btn-primary:focus {
	box-shadow: 0 0 0 .2rem rgb(250, 192, 106);
}
/* Footer */
.border-right {
	border-right: 2px solid #dee2e6 !important;
}
.border-primary {
	border-color: #D1AC74 !important;
}
.footer .contact a{
    text-decoration: none;
    color: #D1AC74;
}

/* Scroll To Top */
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding: 15px 20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
    font-size:30px;
    line-height: 1;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

/* Portfolio Rollovers */
.portfolio-item {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px 8px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.portfolio-item * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.portfolio-item:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.7);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.portfolio-item img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.portfolio-item figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio-item h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.portfolio-item h5 {
  font-weight: normal;
  background-color: #ae895d;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.portfolio-item a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.portfolio-item:hover:before,
.portfolio-item.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.portfolio-item:hover h5,
.portfolio-item.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.portfolio-item:hover h5,
.portfolio-item.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}